{
    "allTokens": [
    {{#each allTokens}}
       {
            "name" : "{{name}}",
            "value": "{{value}}",
            "attributes": {
                {{#each attributes}}
                "{{@key}}": "{{this}}"{{#if @last}}{{else}},{{/if}}
                {{/each}}
            }{{#if path}},
            "path": [
                {{#each path}}
                "{{this}}"{{#if @last}}{{else}},{{/if}}
                {{/each}}
            ]{{/if}}{{#if comment}},
            "comment": "{{comment}}"{{/if}}{{#if description}},
            "description": "{{description}}"{{/if}},
            "filePath": "{{filePath}}"
       }{{#if @last}}{{else}},{{/if}}
    {{/each}}
    ]
}
